html {
  // Brand
  --primary-color: #f8f5f1;
  --secondary-color: #a2783a;

  --color-label: #adadad;
  --color-sub: #666;
  --line: #ebebeb;
  --bg-20: rgb(0 0 0 / 20%);
  --bg-50: rgba(0, 0, 0, 0.05); // Default
  --dark: #000000;
  --white: #ffffff;
  --success: #20ac2e;
  --info: #586ee0;
  --danger: #e05858;
  --warning: #e0e058;

  // FONT FAMILY
  --font-primary: 'Nunito Sans', sans-serif;
  --font-secondary: 'TuesdayNight', 'cursive';
  --font-tertiary: 'Cormorant Garamond', serif;
}
